<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h3 style="text-align: center;"><cite>Это закрытый форум.</cite></font></h3>
<h3 style="text-align: center;"><cite>Пожалуйста, введите логин и пароль для входа</cite></h3>
<p align="center">
    <cite><input name="field1" type="text" value="Логин"></cite></p>
<p align="center">
    <input name="field2" type="text" value="Пароль">
<p align="center"><input id="login123" name="login1" type="button"  value="Войти"></p>

<script src="../static/TestJs.js"></script>
</body>
</html>