<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">

<html>
<head>
    <title>Фотогалерея с применением JavaScript</title>
</head>

<body background="i0875rp.png">
<h1 align="center" size="6">Научное лицейское общество</h1>

<h3 style="color:#FB9501" align="center">Пример фотогалереи на JavaScript от HTML.BY team</h3>

<div align="center">
    <a href="#" onClick="document.image.src='images/kek1.jpg'">Картинка №1</a>
    <a href="#" onClick="document.image.src='images2/`.jpg'">Картинка №2</a>
    <a href="#" onClick="document.image.src='мсч.jpg'">Картинка №3</a>
    <a href="#" onClick="document.image.src='мсчва.jpg'">Картинка №4</a>
</div>



<div align="center">
    <img name="image" src="987.jpg">
</div>

</body>